@if (memberData$ | async; as data) {
  <div
    class="fixed top-0 left-0 z-10 flex size-full items-center justify-center p-2 backdrop-blur-xs backdrop-brightness-75">
    <div class="card max-h-full w-full overflow-y-auto bg-base-100 shadow-md md:w-xl lg:w-lg">
      <figure>
        <img
          [ngSrc]="data.avatar"
          width="512"
          height="512"
          class="aspect-square w-full object-cover object-center"
          alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{ data.title }} {{ data.firstName }} {{ data.lastName }}</h2>
        <p>{{ data.bio }}</p>
        <span class="divider"></span>
        <div class="flex flex-col justify-center gap-2">
          <span class="-ml-2 text-sm opacity-70">Spécialisation:</span>
          <div class="badge badge-ghost">{{ data.specialty }}</div>
        </div>
        <div class="flex flex-col justify-center gap-2">
          <span class="-ml-2 text-sm opacity-70">Département:</span>
          <div class="badge badge-ghost">{{ departName | async }}</div>
        </div>
        <button
          class="btn absolute top-2 right-2 btn-circle btn-sm btn-ghost not-hover:text-white"
          routerLink="/team"
          >✕</button
        >
      </div>
    </div>
  </div>
}
