<div class="card size-full overflow-hidden bg-white shadow-sm">
  <div class="card-img">
    @if (serviceInfo()) {
      <img
        class="absolute inset-0 size-full object-cover object-center"
        [src]="serviceInfo()?.image"
        alt="" />
    }
  </div>
  <div class="card-body p-5">
    @if (tag()) {
      <span class="card-tag">{{ tag() }}</span>
    }
    <h2 class="card-title text-base!">{{
      sectionInfo()?.title || serviceInfo()?.name || departmentInfo()?.name
    }}</h2>
    <p class="card-desc">{{
      sectionInfo()?.description || serviceInfo()?.shortDescription || departmentInfo()?.description
    }}</p>
  </div>
  <div
    class="card-actions items-center justify-between border-t border-t-(--border-main) px-5 py-3.5">
    <span class="text-xs text-(--color-light-content)">{{
      departmentInfo()?.floor?.split(' — ')?.reverse()?.join(' - ')
    }}</span>
    <button
      class="btn btn-sm btn-outline btn-primary"
      routerLink="/{{ sectionInfo()?.id || 'services/' + serviceInfo()?.id }}"
      >Détails</button
    >
  </div>
</div>
