<div class="card size-full overflow-hidden bg-white shadow-sm">
  <div class="card-img">
    @if (serviceInfo()) {
      <img
        class="absolute inset-0 size-full object-cover object-center"
        [src]="serviceInfo()?.image"
        alt="" />
    }
  </div>
  <div class="card-body p-5">
    @if (tag()) {
      <span class="card-tag">{{ tag() }}</span>
    }
    <h2 class="card-title text-base!">{{ sectionInfo()?.title || serviceInfo()?.name }}</h2>
    <p class="card-desc">{{ sectionInfo()?.description || serviceInfo()?.shortDescription }}</p>
  </div>
  <div class="card-actions justify-end border-t border-t-(--border-main) px-5 py-3.5">
    <button
      class="btn btn-sm btn-outline btn-primary"
      routerLink="/{{ sectionInfo()?.id || 'services/' + serviceInfo()?.id }}"
      >Détails</button
    >
  </div>
</div>
