@if (pageData$ | async; as pageData) {
  <app-hero
    [title]="pageData.name"
    [actions]="[
      { label: 'Appeler le Département', href: phoneNbrToLink(pageData.phone), type: 'legacy' },
    ]" />

  <div class="mx-auto max-w-2xl py-4 text-center">
    <h2 class="mb-2">Infos Pratiques</h2>
    <p class="text-regular">{{ pageData.description }}</p>
  </div>

  @if (team$ | async; as team) {
    <div class="mx-auto py-6 sm:w-md xl:w-3xl">
      @if (team.length > 0) {
        <h2 class="mb-2 text-center">Notre Équipe</h2>
        <div class="grid grid-cols-1 gap-4 px-4">
          @for (member of team; track member.id) {
            @let memberName = member.title + ' ' + member.firstName + ' ' + member.lastName;
            <app-doctor-card [doctor]="member" [isHead]="pageData.head === memberName" />
          }
        </div>
      }
    </div>
  } @else {
    <app-loader [dots]="true" />
  }
} @else {
  <app-loader />
}
