@if (pageData$ | async; as pageData) {
  <!-- <div class="bg-base-200">
    <div class="hero min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-3xl">
          <h1 class="mb-5 text-5xl font-bold">{{ pageData.name }}</h1>
          <p class="mt-4">{{ pageData.description }}</p>
        </div>
      </div>
    </div>
  </div> -->

  <app-hero [title]="pageData.name" [actions]="[contact]" />

  <div class="mx-auto max-w-2xl py-4 text-center">
    <h2 class="mb-2">Infos Pratiques</h2>
    <p class="text-regular">{{ pageData.description }}</p>
  </div>

  @if (team$ | async; as team) {
    <div class="mx-auto py-6 sm:w-md xl:w-3xl">
      @if (team.length > 0) {
        <h2 class="mb-2 text-center">Notre Équipe</h2>
        <div class="grid grid-cols-1 gap-4 px-4">
          @for (member of team; track member.id) {
            @let memberName = member.title + ' ' + member.firstName + ' ' + member.lastName;
            <app-doctor-card [doctor]="member" [isHead]="pageData.head === memberName" />
          }
        </div>
      }
    </div>
  }

  <div class="flex flex-col items-center gap-4 py-4 text-center">
    <h2 class="text-4xl font-bold">Notre Équipement</h2>
    <span class="loading loading-xs loading-dots"></span>
  </div>
}
