<footer class="footer bg-base-300 p-10 text-base-content md:footer-horizontal">
  <aside>
    <a class="-rotate-5 navbar-logo text-5xl">S<span class="text-accent">-L</span></a>
    <p>Clinique Saint-Lucas<br />Votre pourvoyeur de soins depuis 1958.</p>
  </aside>
  <nav>
    <h6 class="footer-title cursor-pointer hover:underline" routerLink="/services">Services</h6>
    @for (service of services$ | async; track service.id) {
      <button class="link link-hover" routerLink="/services/{{ service.slug }}">{{
        service.name
      }}</button>
    }
  </nav>
  <nav>
    <h6 class="footer-title cursor-pointer hover:underline" routerLink="/departments"
      >Départements</h6
    >
    @for (department of departments$ | async; track department.id) {
      <button class="link link-hover" routerLink="/departments/{{ department.slug }}">{{
        department.name
      }}</button>
    }
  </nav>
</footer>
