<header>
  <div class="navbar">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-sm btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul
          tabindex="-1"
          class="dropdown-content menu z-1 mt-3 w-52 menu-sm rounded-box bg-base-100 p-2 shadow">
          @for (link of links; track link.href) {
            <li
              ><button [routerLink]="link.href" routerLinkActive="active">{{
                link.label
              }}</button></li
            >
          }
        </ul>
      </div>
      <a class="navbar-logo text-xl" routerLink>Saint<span class="text-accent">-Lucas</span></a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal gap-x-2 px-1">
        @for (link of links; track link.href) {
          <li
            ><button
              class="menu-link"
              [routerLink]="link.href"
              routerLinkActive="menu-link-active"
              >{{ link.label }}</button
            ></li
          >
        }
      </ul>
    </div>
    <div class="navbar-end gap-2">
      @if (isLoggedIn()) {
        <button class="btn navbar-end w-fit btn-sm btn-primary">Espace patient</button>
        <button class="btn navbar-end w-fit btn-sm btn-primary">Se Déconnecter</button>
      }
    </div>
  </div>
</header>
