<div
  class="hero min-h-full {{
    background() ? '' : 'bg-linear-135 from-primary via-secondary via-60% to-[#051F38] to-100%'
  }}">
  <div
    class="hero-content {{
      contactForm() ? 'flex-col lg:flex-row-reverse' : 'max-sm:text-center xl:text-center'
    }}">
    <div
      class="{{
        contactForm() ? 'text-center lg:text-left' : 'max-w-md sm:max-w-lg xl:place-items-center'
      }}">
      @if (tag()) {
        <span class="hero-tag">{{ tag() }}</span>
      }
      <h1 class="pb-2">{{ title() }}</h1>
      @if (subtitle()) {
        <p class="py-4">{{ subtitle() }}</p>
      }
      @if (actions() && actions()!.length <= 2) {
        <div class="flex flex-wrap gap-4 pt-2 max-sm:justify-center xl:justify-center">
          @for (action of actions(); track action.href) {
            <button
              class="btn btn-lg odd:btn-accent even:btn-outline-alt"
              [routerLink]="action.href"
              >{{ action.label }}</button
            >
          }
        </div>
      } @else if (searchField()) {
        <label class="input my-6 w-64 sm:w-80">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor">
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input
            [formControl]="searchField()!"
            type="search"
            class="grow"
            placeholder="Rechercher" />
        </label>
      }
    </div>
    @if (contactForm()) {
      <div class="maw-w-sm card w-full shrink-0 overflow-hidden bg-white shadow-sm sm:w-96">
        <form
          [formGroup]="contactForm()!"
          (submit)="contactFormSubmit()"
          class="relative card-body">
          <fieldset class="fieldset w-full">
            <label class="label" [class.label-required]="isRequired('email')" for="email"
              >Email</label
            >
            <input
              type="email"
              id="email"
              class="input w-full"
              [class.input-error]="
                contactForm()?.controls?.email?.errors && contactForm()?.controls?.email?.touched
              "
              formControlName="email"
              placeholder="Email…" />
            @if (
              contactForm()?.controls?.email?.touched && contactForm()?.controls?.email?.errors
            ) {
              @if (contactForm()?.controls?.email?.hasError('required')) {
                <span class="validator-error">Ce champ est requis.</span>
              } @else if (contactForm()?.controls?.email?.hasError('email')) {
                <span class="validator-error">Veuillez entrer une adresse email valide.</span>
              }
            } @else {
              <p class="label">Nous vous répondrons dans les 48h ouvrables.</p>
            }
            <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
              <span>
                <label
                  class="label mb-1.5"
                  [class.label-required]="isRequired('firstName')"
                  for="firstname"
                  >Prénom</label
                >
                <input
                  type="text"
                  id="firstname"
                  class="input"
                  [class.input-error]="
                    contactForm()?.controls?.firstName?.errors &&
                    contactForm()?.controls?.firstName?.touched
                  "
                  formControlName="firstName"
                  placeholder="Prénom…" />
                @if (contactForm()?.controls?.firstName?.touched) {
                  @if (contactForm()?.controls?.firstName?.hasError('required')) {
                    <span class="validator-error">Ce champ est requis.</span>
                  }
                }
              </span>
              <span>
                <label
                  class="label mb-1.5"
                  [class.label-required]="isRequired('lastName')"
                  for="lastname"
                  >Nom</label
                >
                <input
                  type="text"
                  id="lastname"
                  class="input"
                  [class.input-error]="
                    contactForm()?.controls?.lastName?.errors &&
                    contactForm()?.controls?.lastName?.touched
                  "
                  formControlName="lastName"
                  placeholder="Nom…" />
                @if (contactForm()?.controls?.lastName?.touched) {
                  @if (contactForm()?.controls?.lastName?.hasError('required')) {
                    <span class="validator-error">Ce champ est requis.</span>
                  }
                }
              </span>
            </div>
            <label class="label" [class.label-required]="isRequired('subject')" for="subject"
              >Objet</label
            >
            <select formControlName="subject" class="select w-full" id="subject">
              <option value="Demande de renseignement">Demande de renseignement</option>
              <option value="Rendez-vous">Rendez-vous</option>
              <option value="Autre">Autre</option>
            </select>
            <label class="label" [class.label-required]="isRequired('message')" for="message"
              >Message</label
            >
            <textarea
              id="message"
              class="textarea w-full resize-none"
              [class.input-error]="
                contactForm()?.controls?.message?.errors &&
                contactForm()?.controls?.message?.touched
              "
              formControlName="message"
              placeholder="Message…"></textarea>
            @if (contactForm()?.controls?.message?.touched) {
              @if (contactForm()?.controls?.message?.hasError('required')) {
                <span class="validator-error">Ce champ est requis.</span>
              } @else if (contactForm()?.controls?.message?.hasError('minlength')) {
                <span class="validator-error"
                  >Le message doit contenir au moins 20 caractères.</span
                >
              }
            }
            <button [disabled]="contactForm()!.invalid" class="btn mt-4 btn-primary"
              >Envoyer le Message</button
            >
          </fieldset>
        </form>
      </div>
    }
  </div>
</div>
