<div class="hero min-h-full bg-linear-135 from-primary via-secondary via-60% to-[#051F38] to-100%">
  <div
    class="hero-content {{
      contactForm() ? 'flex-col lg:flex-row-reverse' : 'max-sm:text-center xl:text-center'
    }}">
    <div
      class="{{
        contactForm() ? 'text-center lg:text-left' : 'max-w-md sm:max-w-lg xl:place-items-center'
      }}">
      @if (tag()) {
        <span class="hero-tag">{{ tag() }}</span>
      }
      <h1>{{ title() }}</h1>
      @if (subtitle()) {
        <p class="py-6">{{ subtitle() }}</p>
      }
      @if (actions() && actions()!.length <= 2) {
        <div class="flex flex-wrap justify-center gap-4">
          @for (action of actions(); track action.href) {
            <button
              class="btn btn-lg odd:btn-accent even:btn-outline-alt"
              [routerLink]="action.href"
              >{{ action.label }}</button
            >
          }
        </div>
      } @else if (searchField()) {
        <label class="input my-6 w-64 sm:w-80">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor">
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input
            [formControl]="searchField()!"
            type="search"
            class="grow"
            placeholder="Rechercher" />
        </label>
      }
    </div>
    @if (contactForm()) {
      <div class="maw-w-sm card w-96 shrink-0 bg-base-100 shadow-2xl">
        <form [formGroup]="contactForm()!" (submit)="contactFormSubmit()" class="card-body">
          <fieldset class="fieldset">
            <label class="label" for="email">Email</label>
            <input
              type="email"
              id="email"
              class="input w-full"
              formControlName="email"
              placeholder="Email…" />
            <div class="flex gap-x-2">
              <span>
                <label class="label" for="firstname">Prénom</label>
                <input
                  type="text"
                  id="firstname"
                  class="input"
                  formControlName="firstName"
                  placeholder="Prénom…" />
              </span>
              <span>
                <label class="label" for="lastname">Nom</label>
                <input
                  type="text"
                  id="lastname"
                  class="input"
                  formControlName="lastName"
                  placeholder="Nom…" />
              </span>
            </div>
            <label class="label" for="subject">Sujet</label>
            <input
              type="text"
              id="subject"
              class="input w-full"
              formControlName="subject"
              placeholder="Sujet…" />
            <label class="label" for="message">Message</label>
            <textarea
              id="message"
              class="textarea w-full resize-none"
              formControlName="message"
              placeholder="Message…"></textarea>
            <button [disabled]="contactForm()!.invalid" class="btn mt-4 btn-neutral"
              >Contactez Nous</button
            >
          </fieldset>
        </form>
      </div>
    }
  </div>
</div>
