@if (pageData$ | async; as pageData) {
  <!-- <div
    class="hero min-h-screen bg-cover bg-fixed bg-center"
    style="
      background-image: url('{{ pageData.image }}');
    ">
    <div class="hero-overlay backdrop-blur-sm"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-xl">
        <h1 class="mb-5 text-5xl font-bold">{{ pageData.name }}</h1>
        <p class="mb-5">{{ pageData.shortDescription }}</p>
        <p class="mt-4">{{ pageData.description }}</p>
      </div>
    </div>
  </div> -->
  <app-hero
    [title]="pageData.name"
    [subtitle]="pageData.shortDescription"
    [actions]="[
      {
        label: 'Prendre Rendez-vous',
        href: ['/rendez-vous', { service: pageData.id }],
        type: 'router',
      },
      { label: 'Appeler le Service', href: phoneNbrToLink(pageData.phone) },
    ]" />
  <div class="mx-auto grid grid-cols-1 gap-4 p-4 text-center sm:w-md xl:w-3xl">
    <h2 class="mb-2">Infos Pratiques</h2>
    <p class="mb-2 text-regular">{{ pageData.description }}</p>
    <app-stat-card label="Contact" [value]="pageData.phone" icon="phone" />
    <app-stat-card label="Horaire" [value]="pageData.hours" icon="clock" />
  </div>

  @if (team$ | async; as team) {
    <div class="mx-auto py-6 sm:w-md xl:w-3xl">
      @if (team.length > 0) {
        <h2 class="mb-2 text-center">Notre Équipe</h2>
        <div class="grid grid-cols-1 gap-4 px-4">
          @for (member of team; track member.id) {
            <app-doctor-card [doctor]="member" />
          }
        </div>
      }
    </div>
  }
}
