<app-hero title="Prendre Rendez-vous" />

<div class="mx-auto w-xs py-4 sm:w-md">
  <form
    class="fieldset w-full rounded-[20px] bg-white p-6 shadow-sm"
    [formGroup]="appointmentForm"
    (submit)="sendData()">
    <label class="label" for="doctor" [class.label-required]="isRequired('doctorId')"
      >Médecin</label
    >
    @if (doctors$ | async; as doctors) {
      <select formControlName="doctorId" class="select w-full" id="doctor">
        <option value="null">Choisir un Médecin</option>
        @for (doctor of doctors; track doctor.id) {
          <option [value]="doctor.id"
            >{{ doctor.title }} {{ doctor.firstName }} {{ doctor.lastName }}</option
          >
        }
      </select>
    }
    <app-form-field
      formControlName="email"
      fieldName="email"
      fieldType="email"
      [fieldValidators]="['required', 'email']" />
    <div class="grid grid-cols-1 gap-x-2 sm:grid-cols-2">
      <app-form-field
        formControlName="firstName"
        fieldName="prénom"
        fieldType="text"
        [fieldValidators]="['required']" />
      <app-form-field
        formControlName="lastName"
        fieldName="nom"
        fieldType="text"
        [fieldValidators]="['required']" />
    </div>
    <app-form-field
      formControlName="phone"
      fieldName="n° de téléphone"
      fieldType="tel"
      [fieldValidators]="['required', 'pattern']" />
    <app-form-field
      formControlName="preferredDate"
      fieldName="date"
      fieldType="date"
      [fieldValidators]="['required']" />
    <app-form-field formControlName="reason" fieldName="raison" fieldType="textarea" />
    <label for="service" class="label" [class.label-required]="isRequired('serviceId')"
      >Service</label
    >
    <select id="service" class="select w-full" formControlName="serviceId">
      <option value="null">Choisir un Service</option>
      @for (service of services$ | async; track service.id) {
        <option [value]="service.id">{{ service.name }}</option>
      }
    </select>

    <button type="submit" [disabled]="appointmentForm.invalid" class="btn mt-4 btn-primary"
      >Prendre Rendez-vous</button
    >
  </form>
</div>
