<div class="hero min-h-full bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-lg py-6">
      <h1 class="text-5xl font-bold">Prendre Rendez-vous</h1>
    </div>
  </div>
</div>
<form
  class="fieldset w-xs rounded-box border border-base-200 bg-base-300 p-4"
  [formGroup]="appointmentForm"
  (submit)="sendData()">
  <label class="label" for="doctor">Médecin</label>
  <select formControlName="doctorId" class="select" id="doctor">
    <option value="null">Choisir un Médecin</option>
    @for (doctor of doctors$ | async; track doctor.id) {
      <option [value]="doctor.id"
        >{{ doctor.title }} {{ doctor.firstName }} {{ doctor.lastName }}</option
      >
    }
  </select>
  <label for="email" class="label">Email</label>
  <input type="email" formControlName="email" id="email" class="input" placeholder="Email…" />
  <div class="flex gap-2">
    <span>
      <label for="firstname" class="label">Prénom</label>
      <input
        type="text"
        id="firstname"
        class="input"
        formControlName="firstName"
        placeholder="Prénom…" />
    </span>
    <span>
      <label for="lastname" class="label">Nom</label>
      <input
        type="text"
        id="lastname"
        class="input"
        formControlName="lastName"
        placeholder="Nom…" />
    </span>
  </div>
  <label for="phone" class="label">N° de Téléphone</label>
  <input
    type="tel"
    id="phone"
    class="input"
    formControlName="phone"
    placeholder="N° de Téléphone…" />
  <label for="date" class="label">Date</label>
  <input
    type="date"
    id="date"
    [min]="getClosestDate()"
    class="input"
    formControlName="preferredDate" />
  <label for="reason" class="label">Raison</label>
  <textarea id="reason" class="textarea" formControlName="reason" placeholder="Raison…"></textarea>
  <label for="service" class="label">Service</label>
  <select id="service" class="select" formControlName="serviceId">
    <option value="null">Choisir un Service</option>
    @for (service of services$ | async; track service.id) {
      <option [value]="service.id">{{ service.name }}</option>
    }
  </select>

  <button type="submit" [disabled]="appointmentForm.invalid" class="btn mt-4 btn-neutral"
    >Prendre Rendez-vous</button
  >
</form>
